body {
    background-image: 
    linear-gradient(
      rgba(18, 37, 20, 0.761), 
      rgba(33, 45, 24, 0.694)
    ),
    url(fondo.png);
    background-attachment: fixed;
    background-size: cover;
    box-sizing: border-box;
    margin: 0px;
  }

.header {
  color: whitesmoke;
    padding: -5px;
    width: 100%;
    height: 150px;
    font-size: 120px;
    text-align-last: center;
    text-shadow: -3px 0 rgb(16, 16, 16), 0 3px rgb(16, 16, 16), 3px 0 rgb(16, 16, 16), 0 -3px rgb(16, 16, 16);

}

.insert_name {
  color: whitesmoke;
    height: 80px;
    margin-top:-30px;
    /*background-color: rgba(14, 62, 5, 0.464);*/
    text-shadow: -2px 0 rgb(16, 16, 16), 0 2px rgb(16, 16, 16), 2px 0 rgb(16, 16, 16), 0 -2px rgb(16, 16, 16);
    vertical-align: top;
    
}

.menu_text {
    font-size: 50px;
    text-align-last: center;

}

#player_name {
  background-color: rgb(167, 167, 167);
    height: 40px;
    width: 400px;
    border: 1px solid #21321f;
    border-radius: 20px;
    
}

#start_btn {
    background-color: rgb(118, 118, 118);
    height: 40px;
    width: 60px;
    border: 1px solid #21321f;
    border-radius: 15px;
}